{% extends "base.html" %}

{% block title %}nada{% endblock %}

{% block content %}

    <div class="container_produto">
        <div class="un_produto">
            <img src="{{ url_for('static', filename='images/' ~ produto.imagem) }}" alt="{{ produto.nome }}">
            <div class="es_produto">
                <h1>{{ produto.nome }}</h1>
                <p><strong>Preço:</strong> R$ {{ "%.2f"|format(produto.preco) }}</p>
                <p style="color: green;">Entregas para todo o Paraná</p>
                <button type="submit" class="butao">ADICIONAR AO CARRINHO</button>
            </div>
        </div>
    </div>
{% endblock %}